name: Run Specs

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  specs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Run specs via docker compose
        run: ./test
