name: Run Specs

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  specs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Install dependencies
        run: shards install
      - name: Run specs
        run: ./test
